*.DS_Store
*.pyc
*.swp
*.log
temp/*
dist/*
build/*
docs/site/*
docs/theme/*
docs/sources/*
tags
examples/img/*
examples/*

# test-related
.coverage
.cache
.pytest_cache
.ipynb*
*.egg-info*

# developer environments
.idea
.vscode
