#include <windows.h>

VS_VERSION_INFO VERSIONINFO
FILEVERSION    1, 0, 2, 0
PRODUCTVERSION 1, 0, 2, 0
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "CompanyName",      "格里特公司"
            VALUE "FileDescription",  "hardware calls canon_camera_server"
            VALUE "FileVersion",      "1.0.2"
            VALUE "LegalCopyright",   "Copyright 闹闹"
            VALUE "OriginalFilename", "canon_camera_server.exe"
            VALUE "ProductName",      "激光雷达相机服务"
            VALUE "ProductVersion",   "1.0.2"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x804, 1200
    END
END